Source: python-txamqp
Section: python
Priority: extra
Maintainer: Esteve Fernandez <esteve@fluidinfo.com>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-central (>= 0.5.6), python-all
Standards-Version: 3.7.3
XS-Python-Version: 2.5

Package: python-txamqp
Architecture: all
Replaces: fluidinfo-twisted-amqp
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-twisted-core
Recommends: python-thrift
XB-Python-Version: ${python:Versions}
Description: An AMQP library for Twisted
 A Python library for connecting, sending and receiving messages
 to/from an AMQP-compliant peer or broker (Qpid, OpenAMQ,
 RabbitMQ) using Twisted.
 .
 Also included is support for using the Apache Thrift RPC
 mechanism over AMQP.
 .
 txAMQP is based off the Apache Qpid Python libraries.
